alfresco/DataDictionaryBkp2011.02.11/Tipos de Processo/Ddca Reclamação/Suicídio/formSuicidio.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:xhtml='http://www.w3.org/1999/xhtml' targetNamespace='spu:suicidio' elementFormDefault='qualified'>
  <xs:element name='formSuicidio' type='formSuicidio'>
    <xs:annotation>
      <xs:appinfo>
        <xhtml:label>Suicidio</xhtml:label>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='formSuicidio'>
    <xs:sequence>
      <xs:element name='identificacao'>
        <xs:annotation>
          <xs:appinfo>
            <xhtml:label>Suicidio</xhtml:label>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name='prioridade'>
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>PRIORIDADE</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='ROTINEIRA' />
                  <xs:enumeration value='URGENTE' />
                  <xs:enumeration value='INFORMAÇÃO' />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name='criancasOuAdolescentesDesaparecidas' type='xs:string' minOccurs='0'>
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>CRIANÇAS OU ADOLESCENTES DESAPARECIDAS</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name='crimeOrganizado' type='xs:string' minOccurs='0'>
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>CRIME ORGANIZADO</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name='riscoDeVida' type='xs:string' minOccurs='0'>
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>RISCO DE VIDA</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name='traficoDePessoas' type='xs:string' minOccurs='0'>
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>TRÁFICO DE PESSOAS</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name='encaminhamentoInicial' minOccurs='0'>
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>ENCAMINHAMENTO INICIAL</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='MINISTÉRIO PÚBLICO' />
                  <xs:enumeration value='NÚCLEO DE PREVENÇÃO E REDUÇÃO DE DANOS  NUPRED' />
                  <xs:enumeration value='SUPERINTENDÊNCIA REGIONAL DO TRABALHO  SRT' />
                  <xs:enumeration value='CONSELHO TUTELAR SER II' />
                  <xs:enumeration value='CONSELHO TUTELAR SER V' />
                  <xs:enumeration value='CONSELHO TUTELAR SER VI' />
                  <xs:enumeration value='DCA' />
                  <xs:enumeration value='POLÍCIA' />
                  <xs:enumeration value='PONTE DE ENCONTRO' />
                  <xs:enumeration value='NÚCLEO ESTADUAL DE ENFRENTAMENTO À VIOLÊNCIA' />
                  <xs:enumeration value='CONSELHO TUTELAR SER I' />
                  <xs:enumeration value='DCECA' />
                  <xs:enumeration value='COORD DE POLÍTICAS DE ENFRENT. AO TRAB. INFANTIL' />
                  <xs:enumeration value='ESPAÇO AQUARELA' />
                  <xs:enumeration value='ABRIGOS' />
                  <xs:enumeration value='CONSELHO TUTELAR SER IV' />
                  <xs:enumeration value='CONSELHO TUTELAR SER III' />
                  <xs:enumeration value='CAPSI' />
                  <xs:enumeration value='RAIZ DE CIDADANIA' />
                  <xs:enumeration value='OUVIDORIA' />
                  <xs:enumeration value='JUDICIÁRIO' />
                  <xs:enumeration value='CAPS AD' />
                  <xs:enumeration value='CORREGEDORIA POLICIAL' />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name='conselheiroResponsavel' minOccurs='0'>
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>CONSELHEIRO RESPONSÁVEL</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='SER I - FRANCISCO JOSÉ DE OLIVEIRA PAULINO' />
                  <xs:enumeration value='SER I - RAIMUNDO JOVANIL PEREIRA OLIVEIRA' />
                  <xs:enumeration value='SER II - JOSÉ IRAN DA SILVA' />
                  <xs:enumeration value='SER III - FRANCISCO CLÁUDIO NUNES DA ROCHA' />
                  <xs:enumeration value='SER III - MARIA DO SOCORRO MOREIRA E SILVA' />
                  <xs:enumeration value='SER IV - ROOSELVET RÉGIS BATISTA EVANGELISTA' />
                  <xs:enumeration value='SER VI - EDNA MARIA TEIXEIRA' />
                  <xs:enumeration value='SUPLENTE 06/09 - MARIA DO SOCORRO LIMA DA CRUZ' />
                  <xs:enumeration value='SUPLENTE 06/09 - MARIA DO SOCORRO NASCIMENTO' />
                  <xs:enumeration value='SUPLENTE 07/11 - DANIEL CARNEIRO DE MORAIS' />
                  <xs:enumeration value='SUPLENTE 07/11 - MARIA DO SOCORRO LIMA DA CRUZ' />
                  <xs:enumeration value='SER III - RÉGIS BEZERRA COSTA' />
                  <xs:enumeration value='SER V - SUZANA FERREIRA GÓES DE OLIVEIRA' />
                  <xs:enumeration value='SER VI - FRANCISCO ISAÍAS DOS SANTOS' />
                  <xs:enumeration value='SER VI - LEANDRO DE SOUSA PAIVA' />
                  <xs:enumeration value='SUPLENTE 06/09 - EMMANUEL VALVERDE RIOS NOGUEIRA' />
                  <xs:enumeration value='SUPLENTE 06/09 - JORGE MERY FARIAS' />
                  <xs:enumeration value='SUPLENTE 06/09 - KÁTIA MARIA RODRIGUES SOUSA' />
                  <xs:enumeration value='SUPLENTE 06/09 - PAULO SÉRGIO MATIAS DA SILVA' />
                  <xs:enumeration value='SUPLENTE 07/11 - ANTÔNIA AURENI DE CARVALHO' />
                  <xs:enumeration value='SUPLENTE 07/11 - ANTÔNIA GILVANDA MOREIRA BARRETO' />
                  <xs:enumeration value='SUPLENTE 07/11 - ANTÔNIO CLÁUDIO GOMES DA SILVA' />
                  <xs:enumeration value='SUPLENTE 07/11 - MÁRIO LEONARDO DA ROCHA BERNARDES' />
                  <xs:enumeration value='SUPLENTE 06/09 - EDILANA LIMA TEIXEIRA' />
                  <xs:enumeration value='SER II - MARCOS AURÉLIO MARTINS DE ARAÚJO' />
                  <xs:enumeration value='SUPLENTE 06/09 - HENRIQUE EHRICH ARARIPE' />
                  <xs:enumeration value='SUPLENTE 07/11 - ANTÔNIA EDILENE PRAXEDES' />
                  <xs:enumeration value='SUPLENTE 07/11 - ANTÔNIO EUDES FERREIRA DA SILVA' />
                  <xs:enumeration value='SUPLENTE 07/11 - AUVELICE VERAS ALVES' />
                  <xs:enumeration value='SUPLENTE 07/11 - CÉLIO FÉLIX FERREIRA' />
                  <xs:enumeration value='SUPLENTE 07/11 - EDILANA LIMA TEIXEIRA' />
                  <xs:enumeration value='SUPLENTE 07/11 - FRANCISCO MAGNO CARNEIRO LIMA' />
                  <xs:enumeration value='SUPLENTE 07/11 - HENRIQUE EHRICH ARARIPE' />
                  <xs:enumeration value='SUPLENTE 07/11 - JOÃO GEVACIR FERREIRA' />
                  <xs:enumeration value='SUPLENTE 07/11 - PAULO SÉRGIO MATIAS DA SILVA' />
                  <xs:enumeration value='SER I - IZAÍRA MARIA CABRAL MOREIRA' />
                  <xs:enumeration value='SER II - MARIA LEILA ARAGÃO XIMENES DE SOUSA' />
                  <xs:enumeration value='SER II - MARILENE NOGUEIRA MARQUES' />
                  <xs:enumeration value='SER III - FRANCISCA DE ARRUDA UCHÔA (NEIVA)' />
                  <xs:enumeration value='SER III - MARCELO CARNEIRO DA COSTA' />
                  <xs:enumeration value='SER IV - IVANIRA BARBOSA PEREIRA MELO' />
                  <xs:enumeration value='SER IV - JOSÉ HUMBERTO DE ALMEIDA' />
                  <xs:enumeration value='SER V - ALZIRA BOBÔ DE CARVALHO ALVES' />
                  <xs:enumeration value='SER V - ANA MARIA ROSA VERAS' />
                  <xs:enumeration value='SER V - MARIA DA CONCEIÇÃO SAMPAIO DE OLIVEIRA' />
                  <xs:enumeration value='SER V - RONDINELLE MENDES ARAÚJO' />
                  <xs:enumeration value='SER VI - ANA PAULA DE SANTANA FERNANDES' />
                  <xs:enumeration value='SER VI - MARIA DO SOCORRO NASCIMENTO LIMA' />
                  <xs:enumeration value='SUPLENTE 07/11 - GERALDO MAGELA DE OLIVEIRA' />
                  <xs:enumeration value='SUPLENTE 07/11 - LUIZ SÉRGIO SOUZA DOS SANTOS' />
                  <xs:enumeration value='SUPLENTE 07/11 - MESSIAS MENEZES DE QUEIROZ' />
                  <xs:enumeration value='SER II - SÍLVIA HELENA ARAÚJO SALES' />
                  <xs:enumeration value='SER I - KÁTIA MARIA RODRIGUES DE SOUSA' />
                  <xs:enumeration value='SER I - LEONEL ALENCAR JÚNIOR' />
                  <xs:enumeration value='SER IV - DANIEL DE OLIVEIRA PERDIGÃO' />
                  <xs:enumeration value='SER IV - EMANUEL ACRÍSIO DE FREITAS' />
                  <xs:enumeration value='SUPLENTE 06/09 - FRANCISCA ARRUDA UCHÔA' />
                  <xs:enumeration value='SUPLENTE 07/11 - ALRENIZA PEREIRA DA SILVA CABRAL' />
                  <xs:enumeration value='SUPLENTE 07/11 - MARIA DE FÁTIMA DA SILVA ABREU' />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name='bairro' type='xs:string' minOccurs='0'>
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>BAIRRO</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name='riscoIntegridade' type='xs:string' minOccurs='0'>
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>RISCO À INTEGRIDADE</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name='riscoLiberdade' type='xs:string' minOccurs='0'>
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>RISCO À LIBERDADE</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name='riscoLiberdadeSexual' type='xs:string' minOccurs='0'>
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>RISCO À LIBERDADE SEXUAL</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name='riscoAssistenciaMaterialIntelectual' type='xs:string' minOccurs='0'>
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>RISCO À ASSISTÊNCIA MATERIAL E INTELECTUAL</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name='riscoAoConvivioFamiliarOuAoPoderFamiliar' type='xs:string' minOccurs='0'>
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>RISCO AO CONVÍVIO FAMILIAR OU AO PODER FAMILIAR</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>